.FrequencyPlot {
    display: block;
    margin: auto;
    max-width: 100%;
    position: relative;

    rect {
        fill: #eee;
    }

    text {
        fill: #eee;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
    }

    text.axis-title {
        font-size: 1.6rem;
    }

    .tooltip {
        position: absolute;
        z-index: 1;
        padding: 8px;
        color: #ddd;
        background-color: black;
        font-size: 1.4rem;
        white-space: nowrap;
    }
}
