.FrequencyPlot {
    display: block;
    margin: auto;
    max-width: 100%;

    rect {
        fill: #eee;
    }

    text {
        fill: #eee;
        font-size: 1.4rem;
    }

    text.axis-title {
        font-size: 1.6rem;
    }
}
