@import '../../partials/constants';

.SimulationReview {
    .InsetHeading {
        font-size: 3rem;
        margin: 20px;
        color: rgba(0, 0, 0, 0.7);
    }

    .sections {
        max-width: 640px;
        margin: auto;
    }

    .FatButton {
        color: #eee;
        background-color: inherit;
        border: 1px solid #eee;
        margin-top: 36px;
        margin-bottom: 100px;
    }
}
