.UnitSelectorList {
    padding: 18px 12px;

    .list-header {
        text-align: right;
        color: #eee;

        .head-text {
            display: inline-block;
            margin: 0;
            font-size: 1.6rem;
        }

        .head-text.units {
            margin-right: 60px;
        }

        .head-text.cost {
            margin-right: 54px;
        }
    }

    & > ul {
        margin: 0;
        padding: 12px 0;
        list-style: none;
    }
}
