.UnitCounter {
    & > * {
        vertical-align: middle;
    }

    .count-display {
        display: inline-block;
        color: #eee;
        background-color: rgba(0, 0, 0, 0.15);
        width: 46px;
        height: 46px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        margin: 0 2px;
    }

    .count {
        margin: 0;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.disabled .count {
        color: #aaa;
    }

    .Button {
        display: inline-block;
        font-size: 2rem;
        border: 1px solid #eee;
        border-radius: 10px;
        width: 32px;
        height: 32px;
        position: relative;
        cursor: pointer;
        user-select: none;
        color: inherit;
        background-color: inherit;

        &:hover:not(.disabled) {
            color: #333;
            background-color: #eee;
        }

        &:active:not(.disabled) {
            color: #333;
            background-color: darken(#eee, 10%);
        }

        &.disabled {
            border-color: #aaa;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
        }

        svg.plus {
            width: 14px;
            height: 14px;
        }
    }
}
