@import '../partials/constants';

.BattlePreview {
    overflow-y: auto;

    .InsetHeading {
        font-size: 2.4rem;
        margin: 0.7em;
        color: rgba(0, 0, 0, 0.7);
    }

    .simulate {
        display: block;
        margin: 26px auto;
        background-color: #396d2f;
        width: 200px;
        text-align: center;
        font-size: 2.2rem;
        font-weight: bold;
        padding: 12px;
        color: #eee;
        border-radius: 12px;
        border: none;
        border-bottom: 4px solid #005200;
        border-right: 4px solid #005200;
        cursor: pointer;
    }
}
