@import '../partials/constants';

.BattlePreview {
    .InsetHeading {
        font-size: 3rem;
        margin: 20px;
        margin-bottom: 6px;
        color: rgba(0, 0, 0, 0.7);
    }

    .FatButton {
        color: #eee;
        background-color: #3d872e;
        border-bottom-color: #005200;
        border-right-color: #005200;
        margin-bottom: 100px;
    }
}
