.Button.FatButton {
    width: 200px;
    margin: 26px auto;
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
    border: none;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    border-bottom: 4px solid #005200;
    border-right: 4px solid #005200;

    &.disabled {
        background-color: #676b66;
        border-color: #4d514c;
    }
}
