.InsetHeading {
    text-align: center;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;

    &:before, &:after {
        content: attr(text);
        color: rgba(255, 255, 255, .06);
        position: absolute;
        top: 1px;
        left: calc(50% + 1px);
        transform: translateX(-50%);
        white-space: nowrap;
    }
}
