@import '../partials/constants';

.Simulator {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;

    main {
        display: flex;
        flex-direction: column;

        .BattlePreview, .SimulationResults {
            flex: 1 1 auto;
        }
    }

    &.simulation .UnitSelector {
        display: none;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;

        .UnitSelector {
            flex: 0 0 auto;
            width: 420px;

            &.attack {
                order: 1;
            }

            &.defense {
                order: 3;
            }
        }

        &.simulation .UnitSelector {
            display: flex;
        }

        main {
            flex: 1 1 auto;
            order: 2;
            max-height: 100%;
            overflow-y: auto;
        }
    }

}
