@import '../partials/constants';

.Simulator {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    main {
        display: flex;
        flex-direction: column;

        .BattlePreview, .SimulationResults {
            flex: 1 0 auto;
        }

        .center {
            margin: auto;
            max-width: 1200px;
        }
    }

    &.simulation .UnitSelector {
        display: none;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;

        .UnitSelector {
            flex: 1 6 400px;
            min-width: 350px;
            max-width: 420px;

            &.attack {
                order: 1;
            }

            &.defense {
                order: 3;
            }
        }

        &.simulation .UnitSelector {
            display: flex;
        }

        main {
            flex: 6 1 50%;
            order: 2;
            position: relative;
            overflow: auto;

            // https://stackoverflow.com/questions/38852811/create-a-row-of-flexbox-items-with-a-max-height-defined-by-one-child
            .inner-scroll-fix {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
