@import '../partials/constants';

.Simulator {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    @media (min-width: $desktop-width) {
        flex-direction: row;

        .UnitSelector {
            flex: 0 0 auto;
            width: 420px;

            &.attack {
                order: 1;
            }

            &.defense {
                order: 3;
            }
        }

        .BattlePreview {
            flex: 1 1 auto;
            order: 2;
        }
    }
}
