.UnitSelector {
}

.UnitSelector.attack {
    background-color: #912727;
    border-right: 14px solid rgba(0, 0, 0, 0.15);
}

.UnitSelector.defense {
    background-color: #5f7d87;
    border-left: 14px solid rgba(0, 0, 0, 0.1);
}

.UnitSelector .button {
    height: 60px;
    background-color: #ccc;
    margin: 20px;
}

@media (min-width: 1024px) {
    .UnitSelector {
        flex: 1 1 auto;
    }

    .UnitSelector.attack {
        order: 1;
    }

    .UnitSelector.defense {
        order: 3;
    }
}
