@import '../../partials/constants';

.UnitSummary {
    position: relative;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;

    .UnitSummaryPanel {
        flex: 1 1 50%;
        margin: 12px;
    }

    .vs-box {
        background-color: #373737;
        border-radius: 25%;
        padding: 10px;
        margin: -20px auto;
        z-index: 1;
    }

    .vs-title {
        font-size: 1.8rem;
        color: #eee;
        margin: 0;
        text-transform: uppercase;
    }

    @media (min-width: $desktop-width) {
        flex-direction: row;

        .vs-box {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
