@import './partials/constants';

.App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;

    @media (min-width: $desktop-width) {
        height: 100%;
    }

    header {
        padding: 12px;
        color: #eee;
        background-color: #222;
        flex: 0 0 auto;
    }

    .title {
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }
}
