.App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
}

.App header {
    padding: 12px;
    color: #eee;
    background-color: #222;
    flex: 0 0 auto;
}

.App .title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    .App {
        height: 100%;
    }
}
