@import './partials/constants';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #444;
}

html {
    font-size: 62.5%;
}

* {
    touch-action: manipulation; // disable double tap to zoom on mobile
}

@media (min-width: $desktop-width) {
    #root {
        height: 100%;
    }
}
